body {
	background-color: #454851;
}

main {
	display: flex;
}

ul {
	padding: 0;
}

/* Watchlist Section */
.watchlist img {
	height: 80px;
}

.add-films-btns button:first-of-type {
	color: #9d8df1;
	border: 1px solid #9d8df1;
	font-weight: 500;
}
.add-films-btns button:first-of-type:hover {
	background-color: #9d8df1;
	color: #fff;
}

.add-films-btns button:last-of-type {
	color: #1cfeba;
	border: 1px solid #1cfeba;
	font-weight: 500;
}
.add-films-btns button:last-of-type:hover {
	background-color: #1cfeba;
	color: #454851;
}

/* Film Search Section */
.film-search {
	display: none;
}

.film-search .movie-info {
	display: none;
	/* display: flex; */
}

.film-search .movie-info img {
	width: 200px;
	height: 300px;
}

.film-search .film-search-add-btn {
	background-color: #9d8df1;
	color: #fff;
	width: fit-content;
	margin-left: 8px;
}

/* Cinema Listing Section*/
.cinema-films {
	display: none;
}

.cinema-films li {
	width: 150px;
}

.cinema-films img {
	width: 100%;
}

/* DOM Styles */
.list-aside {
	width: 50%;
}

.list-aside .add-films-btns {
	display: none;
}

.list-aside thead th:nth-of-type(n + 3),
.list-aside tbody td:nth-of-type(n + 3) {
	display: none;
}

.movie-info-year {
	margin-left: 10px;
	font-style: italic;
	font-weight: 400;
	color: grey;
	font-size: 16px;
}
