body {
	background-color: #454851;
}

main {
	display: flex;
}

ul {
	padding: 0;
}

/* Layout */
.page-layout {
	overflow: hidden;
}

/* Watchlist Section */
.watchlist table {
	border-radius: 5px;
	max-height: calc(100vh - 250px);
	table-layout: fixed;
	width: 100%;
}

.watchlist table thead {
	width: inherit;
}

.watchlist table thead tr th:nth-of-type(2) {
	width: 40%;
}

.watchlist table thead tr th:nth-of-type(4) {
	width: 40%;
}

.watchlist:not(.list-aside) table tbody tr {
	height: 150px;
}

.watchlist table tbody tr td {
	height: inherit;
}

.watchlist table tbody tr .watchlist-desc > div {
	height: 100px;
	overflow: auto;
}

.watchlist table img {
	height: inherit;
	width: auto;
}

.watchlist table #delete-btn {
	color: red;
	cursor: pointer;
}

.watchlist table #delete-btn:hover {
	transform: scale(1.2);
}

.add-films-btns button:first-of-type {
	color: #9d8df1;
	border: 1px solid #9d8df1;
	font-weight: 500;
}
.add-films-btns button:first-of-type:hover {
	background-color: #9d8df1;
	color: #fff;
}

.add-films-btns button:last-of-type {
	color: #1cfeba;
	border: 1px solid #1cfeba;
	font-weight: 500;
}
.add-films-btns button:last-of-type:hover {
	background-color: #1cfeba;
	color: #454851;
}

/* Film Search Section */

.film-search .film-search-add-btn {
	background-color: #9d8df1;
	color: #fff;
	width: fit-content;
}

/* Cinema Listing Section*/
.card-img-overlay {
	visibility: hidden;
}

.card:hover .card-img-overlay {
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.5);
}

/* DOM Styles */
.table-empty {
	display: table;
	width: inherit;
}

.list-aside .add-films-btns {
	display: none;
}

.cinema-open table {
	max-height: 2600px;
}

.list-aside table thead,
.list-aside table tbody {
	width: inherit;
	display: table;
	z-index: -1;
}

.list-aside thead th:not(:nth-of-type(2)),
.list-aside tbody td:not(:nth-of-type(2)) {
	display: none;
}

.movie-info-year {
	margin-left: 10px;
	font-style: italic;
	font-weight: 400;
	color: grey;
	font-size: 16px;
}

.cinema-film-details {
	max-width: 850px;
	min-width: 650px;
	width: fit-content;
	height: 550px;
	position: fixed;
	top: 10%;
	left: 0px;
	margin: auto;
	flex-direction: row;
	transition: width 0.5s ease;
	z-index: 1;
}

.cinema-film-details img {
	width: auto;
	height: 100%;
}

.cinema-film-details .card-body #details-close-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.cinema-film-details .card-body .cinema-film-btns button:first-of-type {
	display: none;
}

.cinema-film-details::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.623);
	z-index: -1;
}

/* Media Queries */
@media only screen and (max-width: 760px) {
	#movie-info .card .row div:first-child {
		height: 300px;
		overflow: hidden;
	}

	#movie-info .card .row div:first-child img {
		object-fit: fill;
		object-position: 0 -100px;
	}

	.watchlist table thead tr th:nth-of-type(3),
	.watchlist table tbody tr td:nth-of-type(3) {
		display: none;
	}

	.list-aside table {
		display: none !important;
	}
}

@media only screen and (min-width: 760px) {
	.watchlist table thead tr th:nth-of-type(2) {
		width: 20%;
	}
	.watchlist table thead tr th:nth-of-type(3) {
		width: 50%;
	}
	.watchlist table thead tr th:nth-of-type(4) {
		width: 20%;
	}
}
